<span class="user-list-container">
    <span class="sort">
        <app-sorting (sortChange)="onSortChange($event)"></app-sorting>
    </span>
    <span class="filter">
        <app-filter (filterChange)="onFilterChange($event)"></app-filter>
    </span>
    <span class="search" id="search">
        <input type="text" placeholder="Search Users" [(ngModel)]="searchQuery" (input)="onSearch()">

    </span>
    <div class="spacing"></div>
    <div></div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Last Login</th>
                <th>Role</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="filteredUsers.length > 0 ; else noResults">
                <tr *ngFor="let user of filteredUsers.slice(0,recordsPerPage)">
                    <td>{{ user.id }}</td>
                    <td><img src="./assets/user.png" alt="User Image"> {{ user.firstName }} {{ user.lastName }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.last_login }}</td>  
                    <td>{{ user.role }}</td>
                    <td>{{ user.active ? 'Active' : 'InActive'  }}</td>
                    <td>
                        <button (click)="editUser(user)">Edit</button>
                        <button (click)="deleteUser(user)">Delete</button>
                    </td>
                </tr>
            </ng-container>
            <ng-template #noResults>
                <tr>
                    <td colspan="6">No results found.</td>
                </tr>
            </ng-template>
        </tbody>
    </table>
    <div class="pagination">
        <app-pagination [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage"
            [itemsPerPageOptions]="itemsPerPageOptions" (pageChange)="onPageChange($event)"
            (itemsPerPageChange)="onItemsPerPageChange($event)"></app-pagination>
    </div>

</span>