<div class="container">
  <div class="menu">
    <ul class="main-menu">
      
      <a class="button" routerLink="/dashboard" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        Dashboard
      </a>
      <a class="button" routerLink="/user-list" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        Users
      </a>
    </ul>
  </div>
  <div class="nav">
    <a class="button" routerLink="/user-list" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      List
    </a>
    <a class="button" routerLink="/user-card" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      Card
    </a>
    <a class="button" routerLink="/add-user" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      Add
    </a>

  </div>
  <div class="main"><router-outlet></router-outlet></div>
</div>