
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.2fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "menu nav nav"
      "menu main main"
      "menu main main";
  }
  
  .menu { grid-area: menu; }
  
  .nav { grid-area: nav; }
  
  .main { grid-area: main; }
  .button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #fdfdfd ;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #483285 ;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: 0;
}
.activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #483285  ;
    border: 1px solid #84bbf3;
    color: #ffffff;
    text-shadow: 0 1px 0 #528ecc;
}

.main-menu li {
    padding: 10px;
}
.main-menu li:hover {
    background-color: #ccc;
    cursor: pointer;
}

.active {
    background-color: #fff;
    color: #333;
} 