<div class="container">
  <div class="menu">
    <ul class="main-menu">
      <li>Dashboard</li>
      <li class="active">Users</li>
    </ul>
  </div>
  <div class="nav">
    <a class="button" routerLink="/user-list" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      user-list
    </a>
    <a class="button" routerLink="/user-card" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      user-card
    </a>
    <a class="button" routerLink="/add-user" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      add-user
    </a>

  </div>
  <div class="main"><router-outlet></router-outlet></div>
</div>